
div.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
}

.words-container {
  word-wrap: break-word;
  margin: 20px;
  width: 80%;
}

button.word {
  padding: 5px;
  line-height: 0em;
  min-width: auto;
  letter-spacing: -1px;
  margin: -5px 0;
}

button.word.small {
  font-size: 1em;
}

button.word.medium {
  font-size: 1.5em;
}

button.word.large {
  font-size: 2em;
}

.img {
  height: 60px;
  width: 60px;
  margin: 20px;
}

.image-footer {
  margin-top: 20px
}

input#name {
  text-align: center;
}

.word-empty-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header.header-bar-top {
  background: transparent;
  box-shadow: none;
}

header.header-bar-top div {
  display: flex;
  justify-content: flex-end;
}

.main-body {
  display: flex;
  justify-content: center;
}

.helper-text {
  color: #ccc;
}
