
.input-word-form {
  margin: 40px 0;
}

.words-container {
  word-wrap: break-word;
}

.word {
  padding: 10px;
}

.img {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.image-footer {
  margin-top: 20px
}
