
div.container {
  display: flex;
  flex-direction: column;
}

.words-container {
  word-wrap: break-word;
  margin: 20px 0;
}

.word {
  padding: 10px;
}

.img {
  height: 60px;
  width: 60px;
  margin: 20px;
}

.image-footer {
  margin-top: 20px
}

input#name {
  text-align: center;
}

.word-empty-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
